<div class="row">
  <div class="col-12 col-sm">
    <div class="form-group mb-3 mb-sm-0">
      <label>Password</label>
      <input [disabled]="disabled" [value]="value.password" (input)="emitChange('password', password.value)"
             class="form-control" #password>
    </div>
  </div>
  <div class="col-12  col-sm">
    <div class="form-group">
      <label>Password repeat</label>
      <input [disabled]="disabled" [value]="value.passwordRepeat"
             (input)="emitChange('passwordRepeat', passwordRepeat.value)" class="form-control" #passwordRepeat>
    </div>
  </div>
</div>
