<nav class="navbar navbar-expand navbar-light bg-light mb-4">
  <div class="container-fluid">
    <div class="w-100 d-sm-flex justify-content-between">
      <a class="navbar-brand" routerLink="/todos">Todo List</a>
      <span class="navbar-text fw-bold"
            *ngIf="authService.user$ | async as user">{{ user?.displayName || user?.email }}</span>

      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/logout">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
