<div>
  <form (ngSubmit)="login()">
    <div class="mb-2">
      <label for="username">Username</label>
      <input id="username" type="text" name="username" [(ngModel)]="username">
      {{ username }}
    </div>
    <div class="mb-2">
      <label for="password">Password</label>
      <input id="password" type="password" name="password" [(ngModel)]="password">
      {{ password }}
    </div>

    <div *ngIf="error" class="alert alert-danger">
      {{ error.message }}
    </div>

    <button type="submit">Login</button>
  </form>
</div>
