<div>
  <form (ngSubmit)="login()">
    <div class="form-group">
      <label for="username">Username</label>
      <input id="username" type="text" name="username" [(ngModel)]="username">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input id="password" type="password" name="password" [(ngModel)]="password">
    </div>

    <div class="form-group">
      <app-toggle name="accepted" [(ngModel)]="accepted">Accept newsletter</app-toggle>
    </div>

    {{ accepted | json }}

    <div *ngIf="error" class="alert alert-danger">
      {{ error.message }}
    </div>

    <button type="submit">Login</button>
  </form>
</div>
