html {
  font-size: 16px;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

a {
  color: #007f9a;
}

a:visited {
  color: #016479;
}

h1 {
  font-size: 3rem;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.25rem;
}

.form-group {
  margin-bottom: 1rem;
}

button {
  padding: 0.25rem 0.5rem;
  background-color: #007f9a;
  color: #fff;
  border: 1px solid #007f9a;
  transition: transform 250ms;
}

button:hover {
  transform: skewX(-10deg);
}
